<div class="container banner mt-2 px-0 rounded fs-5">
    <div class="h1 mx-4"><i class="bi bi-building"></i>Experiencia</div>
    <div class="container mx-4 my-4 jobs">
      <div class="row my-3 fw-bold">
        <div class="col-1">
          <img
            class="job-logo img-fluid rounded-circle float-start"
            src="assets/img/invgate.jpg"
            alt=""
          />
        </div>
        <div class="col-2">
          <p>InvGate</p>
          <p>2019-Actualmente</p>
          <p>Tech Support</p>
        </div>
      </div>
      <div class="row my-3 fw-bold">
        <div class="col-1">
          <img
            class="job-logo rounded-circle float-start"
            src="assets/img/avaya.jpg"
            alt=""
          />
        </div>
        <div class="col-2">
          <p>Avaya</p>
          <p>2017-2019</p>
          <p>IT Help Desk</p>
        </div>
      </div>

      <div class="row my-3 fw-bold">
        <div class="col-1">
          <img
            class="job-logo rounded-circle float-start"
            src="assets/img/atento.jpg"
            alt=""
          />
        </div>
        <div class="col-2 float-start">
          <p>Atento!</p>
          <p>2016-2017</p>
          <p>Soporte Tecnico</p>
        </div>
      </div>
    </div>
  </div>