.avatar {
  width: 15rem;
  border: 1px solid #000;
  display:flex;
  margin-top: -8rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
}

.banner {
  border: 1px solid #000;
  width: 95%;
  height: 100%;
}

#banner_image {
  width: 100%;
}

.text-image {
  margin-top: -8rem;
  margin-bottom: 0.2rem;
  padding-bottom: 0rem;
  margin-left: 3rem;
  display: inline-block;
  vertical-align: center;
}

.text-role {
  margin-left: 2.6rem;
  
}

.text-location {
  margin-left: 3.7rem;
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.job-logo{

  height: 80%;
  width: 80%;
}
.jobs p {
  margin: auto auto auto auto;
  font-family: 'Roboto', sans-serif;

}