<div class="container banner mt-2 px-0 rounded">
    <div class="h1 mx-4"><i class="bi bi-mortarboard-fill"></i>Estudio</div>
    <div class="container mx-4 my-4 jobs">
      <div class="row my-3 fw-bold">
        <div class="col-lg-1 col-sm-2">
          <img
            class="job-logo img-fluid rounded-circle float-start img-fluid"
            src="assets/img/UTN_logo.jpg"
            alt=""
          />
        </div>
        <div class="col">
          <p>Universidad Técnologica Nacional Regional Buenos Aires</p>
          <p>Ingenieria en Sistemas</p>
          <p>2021 - Actualidad</p>
        </div>
      </div>
      <div class="row my-3 fw-bold">
        <div class="col-lg-1 col-sm-2">
          <img
            class="job-logo rounded-circle float-start img-fluid"
            src="assets/img/isdft.jpg"
            alt=""
          />
        </div>
        <div class="col">
          <p>
            Instituto Superior de Formación Docente y Técnica N°42 “Leopoldo
            Marechal”
          </p>
          <p>Profesorado de Inglés</p>
          <p>2015 - 2018</p>
        </div>
      </div>

      <div class="row my-3 fw-bold">
        <div class="col-lg-1 col-sm-2">
          <img
            class="job-logo rounded-circle float-start img-fluid"
            src="assets/img/eest.jpg"
            alt=""
          />
        </div>
        <div class="col float-start">
          <p>Escuela de Educación Secundaria Técnica N°42</p>
          <p>Técnico Electrónico</p>
          <p>2010 - 2014</p>
        </div>
      </div>
    </div>
  </div>
