

  <div class="container banner my-2  rounded">
    <div class="h1 mx-4"><i class="bi bi-kanban"></i>Proyectos</div>
    <div class="container bg-secondary bg-opacity-25 rounded-2 border border-dark my-4 float-center">
        <div class="row">
            <div class="col-5">
                <div class="h2 mt-3">Proyecto Argentina Programa</div>
                <div class="h5 my-5 mx-5 fs-4">Agosto 2022</div>
                <div class="row">
                  <p class="d-flex justify-content-center text-start mx-5 fs-5">Proyecto de portfolio diseñado para
                    Argentina Programa #YoProgramo
                    utilizando Angular para el frontend, y
                    Spring Boot con MySQL para el backend.
                    Deployeando el portfolio por Heroku
                  </p>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                      <a href="https://github.com/MattSalva/portfolio-FrontEnd" target="_blank"><i class="bi bi-github" style="font-size: 5rem"></i></a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container ">
                  <img src="assets/img/argprograma.png" alt="Captura de proyecto argentina programa" class="img-fluid float-center my-5 mx-5 rounded-3
                   border border-3 border-dark" width="80%" height="80%">
                </div>
            </div>
        </div>

    </div>
    
  </div>