<div class="container banner mt-2 px-0 rounded">
    <div class="h1 mx-4">
      <i class="bi bi-terminal"></i>Hard & Soft Skills
    </div>
  <div class="col-lg-2 mx-4 my-4">
    <button type="button" routerLink="/new-skill" class="btn btn-secondary" *ngIf="isLogged">Nueva Skill</button>
  </div>
    <div class="container">
      <div class="row justify-content-around my-3">
        <div class="col-3 bg-secondary rounded-2 text-center py-5 bg-opacity-25" *ngFor="let skill of skills">
          <div class="row py-5">
            <div class="col"><h1>{{skill.nombre}}</h1></div>
            <div class="col">
              <div class="c100 p{{skill.porcentaje}} center">
                <span>{{skill.porcentaje}}%</span>
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
              </div>
            </div>
            <div class="col-5 align-self-end" *ngIf="isLogged">
              <button class="btn btn-warning" routerLink="/edit-skill/{{skill.id}}"><i class="bi bi-pencil-square"></i></button>
              <button class="btn btn-danger" (click)="delete(skill.id)"><i class="bi bi-trash3"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--          <div class="row py-5">-->
<!--            <div class="col"><h1>Django</h1></div>-->
<!--            <div class="col">-->
<!--              <div class="c100 p54 center">-->
<!--                <span>54%</span>-->
<!--                <div class="slice">-->
<!--                  <div class="bar"></div>-->
<!--                  <div class="fill"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div-->
<!--          class="col-3 bg-secondary rounded-2 text-center py-5 bg-opacity-25"-->
<!--        >-->
<!--          <div class="row py-5">-->
<!--            <div class="col"><h1>SQL</h1></div>-->
<!--            <div class="col">-->
<!--              <div class="c100 p84 center">-->
<!--                <span>84%</span>-->
<!--                <div class="slice">-->
<!--                  <div class="bar"></div>-->
<!--                  <div class="fill"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row py-5">-->
<!--            <div class="col"><h1>Diseño</h1></div>-->
<!--            <div class="col">-->
<!--              <div class="c100 p84 center">-->
<!--                <span>84%</span>-->
<!--                <div class="slice">-->
<!--                  <div class="bar"></div>-->
<!--                  <div class="fill"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div-->
<!--          class="col-3 bg-secondary rounded-2 text-center py-5 bg-opacity-25"-->
<!--        >-->
<!--          <div class="row py-5">-->
<!--            <div class="col align-items-center"><h1>AGILE</h1></div>-->
<!--            <div class="col">-->
<!--              <div class="c100 p84 center">-->
<!--                <span>84%</span>-->
<!--                <div class="slice">-->
<!--                  <div class="bar"></div>-->
<!--                  <div class="fill"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row py-5">-->
<!--            <div class="col"><h1>DevOps</h1></div>-->
<!--            <div class="col">-->
<!--              <div class="c100 p54 center">-->
<!--                <span>54%</span>-->
<!--                <div class="slice">-->
<!--                  <div class="bar"></div>-->
<!--                  <div class="fill"></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
