<div class="container" *ngIf="exper">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreE">Nombre de la empresa</label>
          <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="exper.nombreE" required>
        </div>
        <div class="form-group">
          <label for="descripcionE">Descripcion de las tareas</label>
          <input type="text" class="form-control" id="descripcionE" name="descripcionE" [(ngModel)]="exper.descripcionE" required>
        </div>
        <button class="btn btn-primary">
          Actualizar experiencia
        </button>
      </form>
    </div>
  </div>
</div>
